#svgButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

/*canvas { display: block; }*/

#c {
    position: absolute;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "theconsolas";
    src: url(Consolas.ttf) format("truetype");
}